@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-background: #ea5959;
  --white-background: #fff;
  --schemirty: 8px;
}
body {
  background-color: var(--main-background) !important;
  font-family: "Lato";
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  background: var(--white-background);
  padding: var(--schemirty);
  padding-top: 30px;
  padding-right: 43px;
  border-radius: var(--schemirty);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  height: 702px;
}
.horizontal-seprator {
  display: block;
  background-color: #d8d8d8;
  width: 1px;
  height: 100px;
  margin-inline: 53px;
}
.todo-categ {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-inline: 50px;
}
.todo-categ ul,
.todo {
  list-style: none;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-text {
  margin-inline: 18px;
}
.categories {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.categories li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
